<nav class="navbar navbar-expand-lg navbar-light " style="background: whitesmoke">
  <a routerLink="/home"><img style="height: 80px; width: 133px; margin-right: 20px" src="assets/static/images/logo2.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/listaInstitutos" style="width: 133px; height: 80px; padding-top: 30px">Institutos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/listaServicos" style="width: 133px; height: 80px; padding-top: 30px">Serviços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/listaProdutos" style="width: 133px; height: 80px; padding-top: 30px">Produtos</a>
      </li>
      <div *ngIf="userLogado; then thenBlock1"></div>
      <ng-template #thenBlock1>
        <li class="nav-item">
          <div class="dropdown show">
            <a style="width: 133px; height: 80px; padding-top: 30px" class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gestão
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" routerLink="/geririnstitutos">Seus Institutos</a>
              <a class="dropdown-item" routerLink="/gerirprodutos">Seus Produtos</a>
              <a class="dropdown-item" routerLink="/gerirservicos">Seus Serviços</a>
              <a class="dropdown-item" routerLink="/gerirstaff">Seu Staff</a>
            </div>
          </div>
        </li>
      </ng-template>
      <div *ngIf="userName == 'projeto'; then thenBlock3"></div>
      <ng-template #thenBlock3>
        <li class="nav-item">
          <a class="nav-link" routerLink="/areareservada" style="width: 150px; height: 80px; padding-top: 30px">Área Reservada</a>
        </li>
      </ng-template>
    </ul>
    <div *ngIf="userLogado; then thenBlock2 else elseBlock2"></div>
    <ng-template #thenBlock2>
      <ul class="nav navbar-nav navbar-right" >
        <li style="text-align: right;"><a routerLink="/account">
          <img src="assets/static/images/user.png" style="width: 5%">
          <span class="glyphicon glyphicon-log-in">&nbsp;</span>
          {{ userName }}
          <span class="glyphicon glyphicon-log-in">&nbsp; &nbsp;</span>
        </a></li>
        <li style="text-align: right; margin-top: 0.25%"><a (click)="logout()" >
          <span class="glyphicon glyphicon-log-in"></span>
          Logout
        </a></li>
      </ul>
    </ng-template>
    <ng-template #elseBlock2>
      <ul  class="nav navbar-nav navbar-right">
        <li style="margin-right: 25px"><a routerLink="/login">Login</a></li>
        <li><a routerLink="/registar">Criar conta</a></li>
      </ul>
    </ng-template>
  </div>
</nav>

<div style="max-width: 1200px; margin: auto">
  <br /> <br />
  <h1>Meus Institutos</h1>
  <hr>
  <div *ngIf="!error; then bodyBlock1"></div>
  <ng-template #bodyBlock1>
    <div *ngIf="page_obj; then bodyBlock2 else bodyBlock3"></div>
    <ng-template #bodyBlock2>
      <br>
      <ul class="list-group list-group-flush">
        <div *ngFor="let instituto of institutosList" class="institutolist-item">
          <li  class="list-group-item" style="margin-bottom: 20px">
            <img style="height: 100px; float: left; margin-right: 30px; padding-bottom: 20px;" src="assets{{ instituto.foto }}"  [routerLink]= "['/instituto', instituto.id]">
            <a style="font-size: 20px" [routerLink]= "['/instituto', instituto.id]">{{ instituto.nome }}</a>
            <ul class="ul-Azul" style="line-height: 180%">
              <li style="display: inline-block; max-width: 900px">{{ instituto.slogan }}</li>
              <img src="assets/static/images/editicon.png" style="width: 25px; position: absolute; right: 60px;" (click)="editar(instituto)">
              <img src="assets/static/images/deleteicon.png" style="width: 25px; position: absolute; right: 20px;" (click)="remover(instituto)">
              <li>{{ instituto.localizacao }}</li>
            </ul>
          </li>
        </div>

        <!--
        <div class="pagination" style="margin: 15px 0">
                          <span class="step-links" style="margin: auto">
                              {% if page_obj.has_previous %}
                                  <a href="?page=1">&laquo; Go To First</a>
                                  &nbsp &nbsp
                                  <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            {% endif %}
                              &nbsp &nbsp
                              <span class="current">
                                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                              </span>
                              &nbsp &nbsp
                            {% if page_obj.has_next %}
                                  <a href="?page={{ page_obj.next_page_number }}">Next</a>
                                  &nbsp &nbsp
                                  <a href="?page={{ page_obj.paginator.num_pages }}">Go To Last &raquo;</a>
                            {% endif %}
                          </span>
        </div>
        -->
      </ul>
    </ng-template>
    <ng-template #bodyBlock3>
      <p>Não possuí institutos ainda!</p>
    </ng-template>
    <button type="button" class="btn btn-outline-success" style="width: 200px; margin-top: 40px" routerLink="/inseririnstituto" >Inserir Instituto</button>
  </ng-template>
</div>
