<nav class="navbar navbar-expand-lg navbar-light " style="background: whitesmoke">
  <a routerLink="/home"><img style="height: 80px; width: 133px; margin-right: 20px" src="http://rafaelfbaptista.pythonanywhere.com/static/images/logo2.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/listaInstitutos" style="width: 133px; height: 80px; padding-top: 30px">Institutos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/listaServicos" style="width: 133px; height: 80px; padding-top: 30px">Serviços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/listaProdutos" style="width: 133px; height: 80px; padding-top: 30px">Produtos</a>
      </li>
      <div *ngIf="userLogado; then thenBlock1"></div>
      <ng-template #thenBlock1>
        <li class="nav-item">
          <div class="dropdown show">
            <a style="width: 133px; height: 80px; padding-top: 30px" class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gestão
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" routerLink="/geririnstitutos">Seus Institutos</a>
              <a class="dropdown-item" routerLink="/gerirprodutos">Seus Produtos</a>
              <a class="dropdown-item" routerLink="/gerirservicos">Seus Serviços</a>
              <a class="dropdown-item" routerLink="/gerirstaff">Seu Staff</a>
            </div>
          </div>
        </li>
      </ng-template>
      <div *ngIf="userName == 'projeto'; then thenBlock3"></div>
      <ng-template #thenBlock3>
        <li class="nav-item">
          <a class="nav-link" routerLink="/areareservada" style="width: 150px; height: 80px; padding-top: 30px">Área Reservada</a>
        </li>
      </ng-template>
    </ul>
    <div *ngIf="userLogado; then thenBlock2 else elseBlock2"></div>
    <ng-template #thenBlock2>
      <ul class="nav navbar-nav navbar-right" >
        <li style="text-align: right;"><a routerLink="/account">
          <img src="http://rafaelfbaptista.pythonanywhere.com/static/images/user.png" style="width: 5%">
          <span class="glyphicon glyphicon-log-in">&nbsp;</span>
          {{ userName }}
          <span class="glyphicon glyphicon-log-in">&nbsp; &nbsp;</span>
        </a></li>
        <li style="text-align: right; margin-top: 0.25%"><a (click)="logout()" >
          <span class="glyphicon glyphicon-log-in"></span>
          Logout
        </a></li>
      </ul>
    </ng-template>
    <ng-template #elseBlock2>
      <ul  class="nav navbar-nav navbar-right">
        <li style="margin-right: 25px"><a routerLink="/login">Login</a></li>
        <li><a routerLink="/registar">Criar conta</a></li>
      </ul>
    </ng-template>
  </div>
</nav>

<div style="max-width: 1200px; margin: auto">
  <br /> <br />
  <h1>Inserir Novo Servico</h1>
  <hr>
  <div *ngIf="error" class="alert alert-danger" role="alert">
    Os campos inseridos são inválidos!
  </div>

  <!--
  <form action="/inserirServico/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group mb-2" style="display: grid;grid-template-columns: 1fr 4fr;">
      {{ form.nome.label }}
      {{ form.nome }}
    </div>
    <span>&nbsp; &nbsp;</span>
    <div class="form-group mb-2" style="display: grid;grid-template-columns: 1fr 4fr;">
      {{ form.descricao.label }}
      {{ form.descricao }}
    </div>
    <span>&nbsp; &nbsp;</span>
    <div class="form-group mb-2" style="display: grid;grid-template-columns: 1fr 4fr;" >
      {{ form.preco.label }}
      {{ form.preco }}
    </div>
    <span>&nbsp; &nbsp;</span>
    <div class="form-group mb-2" style="display: grid;grid-template-columns: 1fr 4fr;">
      {{ form.categoria.label }}
      {{ form.categoria }}
    </div>
    <span>&nbsp; &nbsp;</span>
    <div class="form-group mb-2" style="display: grid;grid-template-columns: 1fr 4fr;">
      {{ form.instituto.label }}
      {{ form.instituto }}
    </div>
    <span>&nbsp; &nbsp;</span>
    <div class="form-group mb-2" style="display: grid;grid-template-columns: 1fr 4fr;">
      <label>Foto: </label>
      {{ form.foto }}
    </div>
    <span>&nbsp; &nbsp;</span>
    <button type="submit" class="btn btn-outline-success" style="width: 200px; margin-top: 40px">Inserir</button>
  </form>
  -->

  <div *ngIf="formReady" class="form-group" style="margin-top: 20px">
    <form class="login-form" [formGroup]="formGroup" (ngSubmit)="inserirProcess()">
      <div class="form-group mb-2" style="display: grid;grid-template-columns: 1fr 4fr;">
        <label>Nome: </label>
        <input class="form-control" formControlName="nome">
      </div>
      <span>&nbsp; &nbsp;</span>
      <div class="form-group mb-2" style="display: grid;grid-template-columns: 1fr 4fr;">
        <label>Descrição: </label>
        <input class="form-control" formControlName="descricao">
      </div>
      <span>&nbsp; &nbsp;</span>
      <div class="form-group mb-2" style="display: grid;grid-template-columns: 1fr 4fr;">
        <label>Preço: </label>
        <input class="form-control" formControlName="preco" type="number">
      </div>
      <span>&nbsp; &nbsp;</span>
      <div class="form-group mb-2" style="display: grid;grid-template-columns: 1fr 4fr;">
        <label>Categoria: </label>
        <select  class="form-control" formControlName="categoria">
          <option value="-1">--Selecione--</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nome }}</option>
        </select>
      </div>
      <span>&nbsp; &nbsp;</span>
      <div class="form-group mb-2" style="display: grid;grid-template-columns: 1fr 4fr;">
        <label>Instituto: </label>
        <select multiple="multiple"  class="form-control" formControlName="instituto">
          <option *ngFor="let instituto of institutos" [value]="instituto.id">{{ instituto.nome }}</option>
        </select>
      </div>
      <span>&nbsp; &nbsp;</span>
      <div class="form-group mb-2" style="display: grid;grid-template-columns: 1fr 4fr;">
        <label>Foto: </label>
        <input formControlName="foto" type="file">
      </div>
      <span>&nbsp; &nbsp;</span>
      <button class="btn btn-outline-success" style="width: 200px; margin-top: 40px" type="submit">Inserir</button>
    </form>
  </div>

</div>
