<nav class="navbar navbar-expand-lg navbar-light " style="background: whitesmoke">
  <a routerLink="/home"><img style="height: 80px; width: 133px; margin-right: 20px" src="assets/static/images/logo2.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/listaInstitutos" style="width: 133px; height: 80px; padding-top: 30px">Institutos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/listaServicos" style="width: 133px; height: 80px; padding-top: 30px">Serviços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/listaProdutos" style="width: 133px; height: 80px; padding-top: 30px">Produtos</a>
      </li>
      <div *ngIf="userLogado; then thenBlock1"></div>
      <ng-template #thenBlock1>
        <li class="nav-item">
          <div class="dropdown show">
            <a style="width: 133px; height: 80px; padding-top: 30px" class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gestão
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" routerLink="/geririnstitutos">Seus Institutos</a>
              <a class="dropdown-item" routerLink="/gerirprodutos">Seus Produtos</a>
              <a class="dropdown-item" routerLink="/gerirservicos">Seus Serviços</a>
              <a class="dropdown-item" routerLink="/gerirstaff">Seu Staff</a>
            </div>
          </div>
        </li>
      </ng-template>
      <div *ngIf="userName == 'projeto'; then thenBlock3"></div>
      <ng-template #thenBlock3>
        <li class="nav-item">
          <a class="nav-link" routerLink="/areareservada" style="width: 150px; height: 80px; padding-top: 30px">Área Reservada</a>
        </li>
      </ng-template>
    </ul>
    <div *ngIf="userLogado; then thenBlock2 else elseBlock2"></div>
    <ng-template #thenBlock2>
      <ul class="nav navbar-nav navbar-right" >
        <li style="text-align: right;"><a routerLink="/account">
          <img src="assets/static/images/user.png" style="width: 5%">
          <span class="glyphicon glyphicon-log-in">&nbsp;</span>
          {{ userName }}
          <span class="glyphicon glyphicon-log-in">&nbsp; &nbsp;</span>
        </a></li>
        <li style="text-align: right; margin-top: 0.25%"><a (click)="logout()" >
          <span class="glyphicon glyphicon-log-in"></span>
          Logout
        </a></li>
      </ul>
    </ng-template>
    <ng-template #elseBlock2>
      <ul  class="nav navbar-nav navbar-right">
        <li style="margin-right: 25px"><a routerLink="/login">Login</a></li>
        <li><a routerLink="/registar">Criar conta</a></li>
      </ul>
    </ng-template>
  </div>
</nav>

<div class="text-center" style="margin:0px 600px 0px 600px">
  <!--
  <form action="." method="post" class="form-signin">
    {% csrf_token %}
    <br>
    <h2>Criar conta</h2>
    <br>
    <label for="modalLRInput13">Username</label>
    {{ form.username }}
    <label for="modalLRInput12">Email</label>
    {{ form.email }}
    <label for="modalLRInput14">Password</label>
    {{ form.password1 }}
    <label for="modalLRInput15">Confirmar Password</label>
    {{ form.password2 }}
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
  -->
  <h2 style="margin-top: 50px">Registar</h2>

  <p *ngIf="erroCredenciais">O Email que inseriu já se encontra em utilização!</p>

  <p *ngIf="erroPasswords">As passwords inseridas não coincidem!</p>

  <div *ngIf="formReady" class="form-group" style="margin-top: 20px">
    <form class="login-form" [formGroup]="formGroup" (ngSubmit)="registoProcess()">
      <div class="form-group mb-2" style="margin: auto">
        <input class="form-control" placeholder="Username" formControlName="username">
      </div>
      <div class="form-group mb-2" style="margin: auto">
        <input class="form-control" placeholder="Email" formControlName="email" type="email">
      </div>
      <div class="form-group mb-2" style="margin: auto">
        <input class="form-control" placeholder="Password" formControlName="password" type="password">
      </div>
      <div class="form-group mb-2" style="margin: auto">
        <input class="form-control" placeholder="Repita Password" formControlName="passwordrepetida" type="password">
      </div>
      <br>
      <button class="btn btn-outline-primary" type="submit">Registar</button>
    </form>
  </div>

  <div class="border-top pt-3">
    <small class="text-muted">
      Já tem uma conta ? <a class="ml-2" routerLink="/login">Login</a>
    </small>
  </div>
</div>
